.container {
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.videoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.videoCard {
  width: 420px;
  padding: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
