.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.videoContainer {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.videoCard {
  width: 150px;
  padding: 8px;
}
.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.workspace {
  flex: 1;
}
