.video {
  width: 100%;
  position: absolute;
  height: 100%;
  outline: none;
  object-fit: cover;
}

.videoContainer {
  padding-bottom: 100%;
  position: relative;
  background: #00000033;
  cursor: pointer;
}

.videoContainer:hover {
  opacity: 0.8;
  box-shadow: 2px 2px 8px #000;
}
